body {background-color: bisque}

table td {
    padding: 20px;
    vertical-align: top;
    background-color: #e1e1e1;
}

caption {
    font-size: 24px;
    font-weight: bold;
    padding: 20px
}

.childs {
    display:block;
}
