body {background-color: lemonchiffon}

table td {
    padding: 20px;
    vertical-align: top
}

caption {
    font-size: 24px;
    font-weight: bold;
    padding: 20px
}

.childs {
    display:none;
}
#childs-0 {
    display:block;
}